# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Supabase
supabase/

# Native
ios/
android/

# Env / Secrets
.env
.env.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Editor/OS
.DS_Store
.vscode/

# Testing
coverage/